openapi: 3.0.3
info:
  title: RegEngine Partner Gateway API
  description: |
    API endpoints for white-label partners to manage their client tenants,
    monitor compliance status, and track revenue share metrics.

    **Authentication:** All endpoints require a partner-scoped API key via
    the `X-RegEngine-Partner-Key` header. Partner keys are issued during
    onboarding and are RLS-scoped so the partner can only access tenants
    they originated.

    **Authorization (scopes):** Each endpoint requires a specific scope on
    the calling key. Scopes follow the namespace pattern
    `partner.{resource}.{action}` and are matched by
    `services/shared/permissions.py` (which supports exact match,
    namespace wildcards like `partner.clients.*`, and full wildcards
    `*` / `admin.*`). The full scope set is:

      - `partner.clients.read` — list and read client tenants
      - `partner.clients.write` — create and update client tenants
      - `partner.compliance.read` — read client compliance state
      - `partner.evidence.export` — trigger evidence package export
      - `partner.api_keys.read` — list per-client API keys (metadata only)
      - `partner.api_keys.write` — create per-client API keys
      - `partner.revenue.read` — view partner revenue metrics
      - `partner.payouts.read` — view payout records
      - `partner.branding.read` — read white-label branding config
      - `partner.branding.write` — update white-label branding config

    Each operation declares its required scope via the `x-required-scopes`
    extension. Keys issued with `partner.*` get full access; least-privilege
    keys (e.g. ingest-only client keys) should be issued with the smallest
    matching scope.

    **Scope changes are privilege-sensitive.** Broadening scopes on an
    existing key forces key rotation (the old `raw_key` is revoked) so a
    leaked key cannot ride new permissions — see `change_scopes()` in
    `services/shared/api_key_store.py`.

    **Multi-Tenancy:** All client data is isolated via PostgreSQL Row-Level
    Security + TenantContextMiddleware (ref: TDD §6). Partners can only
    access tenants they created — scope checks layer on top of RLS.

    **Rate Limits:** 1,000 requests/minute (partner tier). Contact
    partnerships@regengine.co for higher limits.
  version: 1.0.0
  contact:
    name: RegEngine Partnerships
    email: partnerships@regengine.co
  license:
    name: Proprietary
    url: https://regengine.co/terms

servers:
  - url: https://api.regengine.co/v1/partner
    description: Production
  - url: https://sandbox.regengine.co/v1/partner
    description: Sandbox (synthetic data)

security:
  - PartnerApiKey: []

paths:
  /clients:
    get:
      operationId: listClients
      x-required-scopes: [partner.clients.read]
      summary: List all client tenants originated by this partner
      description: |
        Returns a paginated list of client tenants created by the
        authenticated partner. Includes compliance status summary,
        billing tier, and last activity timestamp for each client.
      tags:
        - Client Management
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filter by client status
          schema:
            type: string
            enum: [active, suspended, churned, onboarding]
        - name: sort
          in: query
          schema:
            type: string
            enum: [created_at, name, compliance_score, mrr]
            default: created_at
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Paginated list of client tenants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

    post:
      operationId: createClient
      x-required-scopes: [partner.clients.write]
      summary: Provision a new client tenant
      description: |
        Creates a new multi-tenant client under this partner's account.
        Provisions PostgreSQL schema with RLS policies, generates client
        API keys, and configures branding. The client is immediately
        available for data ingestion.

        **Billing:** The client's subscription is billed through the
        partner's account. Revenue share is calculated monthly based on
        the agreed tier (ref: Partner Agreement §2).
      tags:
        - Client Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
      responses:
        '201':
          description: Client tenant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Client with this name or domain already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clients/{client_id}:
    get:
      operationId: getClient
      x-required-scopes: [partner.clients.read]
      summary: Get detailed client tenant information
      description: |
        Returns full details for a specific client tenant including
        compliance scores, API usage metrics, evidence chain status,
        and billing information.
      tags:
        - Client Management
      parameters:
        - $ref: '#/components/parameters/ClientId'
      responses:
        '200':
          description: Client details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateClient
      x-required-scopes: [partner.clients.write]
      summary: Update client tenant configuration
      description: |
        Update client branding, billing tier, or notification settings.
        Cannot modify tenant isolation boundaries or security policies.
      tags:
        - Client Management
      parameters:
        - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientRequest'
      responses:
        '200':
          description: Client updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDetailResponse'

  /clients/{client_id}/compliance:
    get:
      operationId: getClientCompliance
      x-required-scopes: [partner.compliance.read]
      summary: Get client compliance dashboard data
      description: |
        Returns the client's current compliance posture including
        obligation coverage score, control effectiveness, evidence
        freshness, and any active drift alerts. This powers the
        partner-branded compliance dashboard.

        Compliance score = obligation_coverage × control_effectiveness
        × evidence_freshness (ref: TDD §5.3)
      tags:
        - Compliance
      parameters:
        - $ref: '#/components/parameters/ClientId'
        - name: vertical
          in: query
          description: Filter by regulatory vertical
          schema:
            type: string
            enum: [fsma]
            default: fsma
      responses:
        '200':
          description: Compliance dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceDashboard'

  /clients/{client_id}/evidence/export:
    post:
      operationId: exportEvidence
      x-required-scopes: [partner.evidence.export]
      summary: Export cryptographic evidence chain for audit
      description: |
        Generates a self-contained evidence export package containing:
        - JSON evidence chain (EvidenceEnvelopeV3 records)
        - Merkle tree root hash
        - Standalone verification script (verify_snapshot_chain.py)

        The export can be handed directly to regulators or auditors.
        Verification requires only Python 3.8+ and the hashlib stdlib
        module—no RegEngine backend access needed (ref: TDD §7).
      tags:
        - Evidence
      parameters:
        - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvidenceExportRequest'
      responses:
        '200':
          description: Evidence export package
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceExportResponse'
            application/zip:
              schema:
                type: string
                format: binary
                description: ZIP containing evidence.json + verify_snapshot_chain.py

  /clients/{client_id}/api-keys:
    get:
      operationId: listClientApiKeys
      x-required-scopes: [partner.api_keys.read]
      summary: List API keys for a client tenant
      tags:
        - Client Management
      parameters:
        - $ref: '#/components/parameters/ClientId'
      responses:
        '200':
          description: List of client API keys (hashed, never raw)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'

    post:
      operationId: createClientApiKey
      x-required-scopes: [partner.api_keys.write]
      summary: Create a new API key for a client tenant
      description: |
        Generates a new API key scoped to the specified client tenant.
        The raw key is returned exactly once in the response. It is
        stored as a SHA-256 hash and cannot be retrieved again
        (ref: TDD §4.1).
      tags:
        - Client Management
      parameters:
        - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created (raw key included once)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreatedResponse'

  /revenue:
    get:
      operationId: getRevenueMetrics
      x-required-scopes: [partner.revenue.read]
      summary: Get partner revenue share metrics
      description: |
        Returns revenue share calculations for the current billing
        period, broken down by client. Includes MRR, usage metrics,
        and projected revenue share based on the partner's tier.
      tags:
        - Billing & Revenue
      parameters:
        - name: period
          in: query
          description: Billing period (YYYY-MM)
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
            example: "2026-02"
      responses:
        '200':
          description: Revenue metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueMetricsResponse'

  /revenue/payouts:
    get:
      operationId: listPayouts
      x-required-scopes: [partner.payouts.read]
      summary: List historical revenue share payouts
      tags:
        - Billing & Revenue
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Payout history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutListResponse'

  /branding:
    get:
      operationId: getBranding
      x-required-scopes: [partner.branding.read]
      summary: Get current partner branding configuration
      tags:
        - Branding
      responses:
        '200':
          description: Branding config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandingConfig'

    put:
      operationId: updateBranding
      x-required-scopes: [partner.branding.write]
      summary: Update partner branding (logo, colors, domain)
      description: |
        Configure white-label branding applied to all client-facing
        dashboards, reports, and the embeddable FSMA wizard.
      tags:
        - Branding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandingConfig'
      responses:
        '200':
          description: Branding updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandingConfig'

components:
  securitySchemes:
    PartnerApiKey:
      type: apiKey
      in: header
      name: X-RegEngine-Partner-Key
      description: |
        Partner-scoped API key (format: rge_partner_{random}.{random}).
        Issued during partner onboarding. SHA-256 hashed at rest.

  parameters:
    ClientId:
      name: client_id
      in: path
      required: true
      description: Unique client tenant identifier (UUID)
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

  responses:
    Unauthorized:
      description: Invalid or missing partner API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found or not accessible by this partner
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate limit exceeded (1,000 req/min partner tier)
      headers:
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
            description: Unix timestamp when limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          example: "unauthorized"
        message:
          type: string
          example: "Invalid or expired partner API key"
        request_id:
          type: string
          format: uuid

    ClientSummary:
      type: object
      required: [id, name, status, billing_tier, compliance_score, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Acme Foods Inc."
        status:
          type: string
          enum: [active, suspended, churned, onboarding]
        billing_tier:
          type: string
          enum: [free, growth, scale, enterprise]
        compliance_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: "Composite score: coverage × effectiveness × freshness"
          example: 0.87
        mrr:
          type: number
          format: float
          description: "Monthly recurring revenue for this client (USD)"
          example: 499.00
        api_calls_mtd:
          type: integer
          description: "API calls month-to-date"
          example: 12450
        last_activity_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    ClientListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ClientSummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
        totals:
          type: object
          properties:
            active_clients:
              type: integer
            total_mrr:
              type: number
              format: float
            avg_compliance_score:
              type: number
              format: float

    ClientDetailResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/ClientSummary'
        - type: object
          properties:
            branding:
              $ref: '#/components/schemas/ClientBranding'
            verticals:
              type: array
              items:
                type: string
                enum: [fsma]
            allowed_jurisdictions:
              type: array
              items:
                type: string
              example: ["US", "US-CA"]
            evidence_chain:
              type: object
              properties:
                total_envelopes:
                  type: integer
                  example: 4523
                last_hash:
                  type: string
                  description: "SHA-256 hash of most recent EvidenceEnvelopeV3"
                  example: "a3f8b2c1d4e5..."
                chain_valid:
                  type: boolean
                  example: true
                last_verified_at:
                  type: string
                  format: date-time
            api_usage:
              type: object
              properties:
                calls_mtd:
                  type: integer
                calls_limit:
                  type: integer
                documents_mtd:
                  type: integer
                documents_limit:
                  type: integer

    CreateClientRequest:
      type: object
      required: [name, billing_tier]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 200
          example: "Acme Foods Inc."
        billing_tier:
          type: string
          enum: [free, growth, scale, enterprise]
          description: "Determines API limits and pricing"
        verticals:
          type: array
          items:
            type: string
            enum: [fsma]
          default: [fsma]
        allowed_jurisdictions:
          type: array
          items:
            type: string
          default: ["US"]
        branding:
          $ref: '#/components/schemas/ClientBranding'
        contact_email:
          type: string
          format: email
        webhook_url:
          type: string
          format: uri
          description: "URL for compliance alerts and drift notifications"

    UpdateClientRequest:
      type: object
      properties:
        name:
          type: string
        billing_tier:
          type: string
          enum: [free, growth, scale, enterprise]
        branding:
          $ref: '#/components/schemas/ClientBranding'
        webhook_url:
          type: string
          format: uri
        status:
          type: string
          enum: [active, suspended]
          description: "Partners can suspend (not delete) client tenants"

    ClientBranding:
      type: object
      properties:
        logo_url:
          type: string
          format: uri
        primary_color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#2E5090"
        company_name_override:
          type: string
          description: "Name shown in dashboard header (defaults to partner name)"

    ComplianceDashboard:
      type: object
      properties:
        client_id:
          type: string
          format: uuid
        vertical:
          type: string
        overall_score:
          type: number
          format: float
          description: "coverage × effectiveness × freshness"
          example: 0.87
        obligation_coverage:
          type: number
          format: float
          example: 0.92
        control_effectiveness:
          type: number
          format: float
          example: 0.95
        evidence_freshness:
          type: number
          format: float
          example: 0.99
        risk_level:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        active_drift_alerts:
          type: integer
          example: 0
        obligations:
          type: object
          properties:
            total:
              type: integer
            covered:
              type: integer
            gaps:
              type: integer
        last_updated_at:
          type: string
          format: date-time

    EvidenceExportRequest:
      type: object
      properties:
        from_date:
          type: string
          format: date
          description: "Start of evidence window"
        to_date:
          type: string
          format: date
          description: "End of evidence window"
        format:
          type: string
          enum: [json, zip]
          default: zip
          description: "json = raw chain; zip = chain + verification script"
        include_verification_sdk:
          type: boolean
          default: true

    EvidenceExportResponse:
      type: object
      properties:
        export_id:
          type: string
          format: uuid
        client_id:
          type: string
          format: uuid
        envelope_count:
          type: integer
        merkle_root:
          type: string
          description: "Root hash of the Merkle tree for this export"
        chain_start_hash:
          type: string
        chain_end_hash:
          type: string
        date_range:
          type: object
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        download_url:
          type: string
          format: uri
          description: "Pre-signed URL (expires in 1 hour)"
        verification_command:
          type: string
          description: "CLI command to verify the exported chain"
          example: "python verify_snapshot_chain.py evidence_export.json"

    CreateApiKeyRequest:
      type: object
      required: [name, scopes]
      properties:
        name:
          type: string
          example: "Production Ingestion Key"
        scopes:
          type: array
          items:
            type: string
            enum: [read, ingest, admin]
          example: ["read", "ingest"]
        expires_in_days:
          type: integer
          minimum: 1
          maximum: 365
          description: "Optional expiration (null = no expiry)"

    ApiKeyCreatedResponse:
      type: object
      properties:
        key_id:
          type: string
          format: uuid
        raw_key:
          type: string
          description: "IMPORTANT: This is returned exactly ONCE. Store securely."
          example: "rge_a1b2c3d4e5f6.g7h8i9j0k1l2"
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        expires_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    ApiKeyListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              key_id:
                type: string
                format: uuid
              name:
                type: string
              scopes:
                type: array
                items:
                  type: string
              last_used_at:
                type: string
                format: date-time
                nullable: true
              expires_at:
                type: string
                format: date-time
                nullable: true
              created_at:
                type: string
                format: date-time

    RevenueMetricsResponse:
      type: object
      properties:
        partner_id:
          type: string
          format: uuid
        period:
          type: string
          example: "2026-02"
        tier:
          type: string
          enum: [standard, growth, strategic]
        revenue_share_pct:
          type: number
          format: float
          example: 0.25
        clients:
          type: array
          items:
            type: object
            properties:
              client_id:
                type: string
                format: uuid
              client_name:
                type: string
              billing_tier:
                type: string
              mrr:
                type: number
                format: float
              api_calls:
                type: integer
              documents_ingested:
                type: integer
              partner_share:
                type: number
                format: float
                description: "Revenue share amount for this client (USD)"
        totals:
          type: object
          properties:
            total_mrr:
              type: number
              format: float
            total_partner_share:
              type: number
              format: float
            active_clients:
              type: integer

    PayoutListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              payout_id:
                type: string
                format: uuid
              period:
                type: string
              amount:
                type: number
                format: float
              status:
                type: string
                enum: [pending, processing, paid, failed]
              paid_at:
                type: string
                format: date-time
                nullable: true
              invoice_url:
                type: string
                format: uri

    BrandingConfig:
      type: object
      properties:
        partner_name:
          type: string
          example: "Kellerman Consulting"
        logo_url:
          type: string
          format: uri
        primary_color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#2E5090"
        secondary_color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#1B2A4A"
        custom_domain:
          type: string
          description: "CNAME for white-label dashboard (e.g., compliance.kellerman.com)"
          example: "compliance.kellerman.com"
        wizard_embed_domains:
          type: array
          items:
            type: string
          description: "Allowed domains for embedding the FSMA wizard iframe"
          example: ["kellerman.com", "www.kellerman.com"]
        email_from_name:
          type: string
          description: "Sender name for compliance alert emails"
          example: "Kellerman Compliance Platform"
        powered_by_visible:
          type: boolean
          default: true
          description: "Show 'Powered by RegEngine' in footer"

    Pagination:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
