openapi: 3.1.0
info:
  title: RegEngine Fair Lending Compliance OS API
  version: 0.1.0
  description: |
    API-first compliance infrastructure for fair lending model governance.
    Scope wall: ECOA, FHA, CFPB fair lending examination procedures, and interagency exam manual.
servers:
  - url: https://api.regengine.co
    description: Production
  - url: http://localhost:8500
    description: Local development
tags:
  - name: Regulatory Intelligence
  - name: Fair Lending Analysis
  - name: Model Governance
  - name: Audit Artifacts
  - name: Risk Dashboard
  - name: Knowledge Graph
paths:
  /v1/regulatory/map:
    post:
      tags: [Regulatory Intelligence]
      summary: Map regulation text into obligations, controls, and tests
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegulationMapRequest'
      responses:
        '200':
          description: Generated controls for cited regulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulationMapResponse'

  /v1/fair-lending/analyze:
    post:
      tags: [Fair Lending Analysis]
      summary: Run DIR, regression proxy, and drift checks
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FairLendingAnalyzeRequest'
      responses:
        '200':
          description: Analysis stored in model_compliance_results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FairLendingAnalyzeResponse'

  /v1/models:
    post:
      tags: [Model Governance]
      summary: Register model in governance registry
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelRegistrationRequest'
      responses:
        '200':
          description: Model registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelRecordResponse'

  /v1/models/{model_id}:
    get:
      tags: [Model Governance]
      summary: Fetch model registry record and deployment lock state
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: model_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Model record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelRecordResponse'
        '404':
          description: Model not found

  /v1/models/{model_id}/validations:
    post:
      tags: [Model Governance]
      summary: Append model validation record
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: model_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationRequest'
      responses:
        '200':
          description: Validation written

  /v1/models/{model_id}/changes:
    post:
      tags: [Model Governance]
      summary: Append model change and enforce revalidation lock
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: model_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelChangeRequest'
      responses:
        '200':
          description: Change recorded

  /v1/audit/export:
    post:
      tags: [Audit Artifacts]
      summary: Generate immutable audit artifact package metadata
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditExportRequest'
      responses:
        '200':
          description: Hash-verified export metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditExportResponse'

  /v1/risk/summary:
    get:
      tags: [Risk Dashboard]
      summary: Return executive fair lending risk summary for a model
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: model_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Composite risk output
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskSummaryResponse'

  /v1/ckg/summary:
    get:
      tags: [Knowledge Graph]
      summary: Return compliance knowledge graph node and edge counts
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
      responses:
        '200':
          description: Knowledge graph summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CKGSummaryResponse'

components:
  parameters:
    TenantHeader:
      name: X-Tenant-Id
      in: header
      required: false
      schema:
        type: string
      description: Tenant partition key used for row-level isolation.

  schemas:
    RegulationMapRequest:
      type: object
      required: [source_name, citation, section, text]
      properties:
        source_name:
          type: string
        citation:
          type: string
        section:
          type: string
        text:
          type: string
        effective_date:
          type: string
          format: date

    RegulationMapResponse:
      type: object
      properties:
        regulation_id:
          type: string
          format: uuid
        obligations:
          type: array
          items:
            type: object

    FairLendingAnalyzeRequest:
      type: object
      required: [model_id, protected_attribute, groups]
      properties:
        model_id:
          type: string
        protected_attribute:
          type: string
        groups:
          type: array
          items:
            type: object
            required: [name, approved, denied]
            properties:
              name:
                type: string
              approved:
                type: integer
                minimum: 0
              denied:
                type: integer
                minimum: 0
        analysis_type:
          type: array
          items:
            type: string
            enum: [DIR, regression, drift]
        historical_approval_rates:
          type: object
          additionalProperties:
            type: array
            items:
              type: number

    FairLendingAnalyzeResponse:
      type: object
      properties:
        model_id:
          type: string
        analysis_id:
          type: string
          format: uuid
        dir_results:
          type: array
          items:
            type: object
        regression_bias_flag:
          type: boolean
        drift_flag:
          type: boolean
        risk_level:
          type: string
          enum: [low, medium, high]
        recommended_action:
          type: string

    ModelRegistrationRequest:
      type: object
      required: [id, name, version, owner, deployment_date]
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        owner:
          type: string
        deployment_date:
          type: string
          format: date
        status:
          type: string
          enum: [active, deprecated]

    ModelRecordResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        owner:
          type: string
        deployment_date:
          type: string
          format: date
        status:
          type: string
        deployment_locked:
          type: boolean
        lock_reason:
          type: string
          nullable: true

    ValidationRequest:
      type: object
      required: [validation_type, validator, date, status]
      properties:
        validation_type:
          type: string
          enum: [fairness, performance, conceptual_soundness]
        validator:
          type: string
        date:
          type: string
          format: date
        status:
          type: string
          enum: [passed, failed]
        notes:
          type: string

    ModelChangeRequest:
      type: object
      required: [change_type, description, date]
      properties:
        change_type:
          type: string
          enum: [feature_added, threshold_change, retrain]
        description:
          type: string
        date:
          type: string
          format: date

    AuditExportRequest:
      type: object
      required: [model_id, output_type, reviewer]
      properties:
        model_id:
          type: string
        output_type:
          type: string
          enum:
            - regulator_examination_package
            - fair_lending_summary_report
            - model_validation_dossier
            - bias_incident_timeline
        reviewer:
          type: string

    AuditExportResponse:
      type: object
      properties:
        artifact_id:
          type: string
          format: uuid
        model_id:
          type: string
        output_type:
          type: string
        version:
          type: integer
        immutable:
          type: boolean
        hash_sha256:
          type: string
        generated_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties:
            type: string

    RiskSummaryResponse:
      type: object
      properties:
        overall_fair_lending_risk:
          type: string
          enum: [Low, Medium, High]
        dir_status:
          type: string
          enum: [Green, Yellow, Red]
        regression_bias_flag:
          type: boolean
        drift_status:
          type: string
          enum: [Green, Yellow, Red]
        last_tested:
          type: string
          format: date
        exposure_score:
          type: number

    CKGSummaryResponse:
      type: object
      properties:
        nodes_by_type:
          type: object
          additionalProperties:
            type: integer
        edge_count:
          type: integer
        latest_evidence_id:
          type: string
          nullable: true
